<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.truck.transfly">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".utils.TransflyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TransFly">
        <activity android:name=".Activty.BankDetailsActivity">

        </activity>
        <activity android:name=".Activty.PlaygroundActivity" />
        <activity android:name=".Activty.MyVehicleActivity" />
        <activity android:name=".Activty.AddVehicleActivity" />
        <activity android:name=".Activty.EmergencyContactActivity" />
        <activity android:name=".Activty.AreaFieldStafActivity"></activity>
        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name=".Activty.TransporterKycActivity"
            android:label="@string/title_activity_transporter_kyc"></activity>
        <activity android:name=".Activty.ShowInvoiceActivity" />
        <activity android:name=".Activty.TransporterActivity"></activity>
        <activity
            android:name=".Activty.ChangePasswordActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activty.ProfileScreen"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activty.EmailScreen"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activty.WhoScreen"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activty.OtpScreen"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activty.MobileScreen"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activty.LoginScreen"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activty.ReferActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activty.FeedbackActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activty.TicketComplaintActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activty.VehicleOwnerKycActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activty.ProfileActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activty.SignUpActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activty.UserChangedActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activty.EnterMobileNumberActivty"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activty.OtpValidation"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity android:name=".Activty.AreaManagerActivity" />
        <activity
            android:name=".Activty.SplashActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activty.LoginActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activty.SearchBarActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity android:name=".Activty.HomeActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>

        <activity android:name=".Activty.FieldStafActivity" >

        </activity>
        <activity android:name=".Activty.CurrentBookingActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/API_KEY" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.truck.transfly.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- ressource file to create -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>